[submodule "costarica"]
	path = costarica
	url = git@git.vauxoo.com:vauxoo/costarica.git
	branch = 12.0
[submodule "rsf"]
	path = rsf
	url = git@git.vauxoo.com:vauxoo/rsf.git
	branch = 12.0
[submodule "reporting-engine"]
	path = reporting-engine
	url = git@github.com:vauxoo/reporting-engine.git
	branch = 12.0
[submodule "product-attribute"]
	path = product-attribute
	url = git@github.com:vauxoo/product-attribute.git
	branch = 12.0
[submodule "purchase-workflow"]
	path = purchase-workflow
	url = git@github.com:vauxoo/purchase-workflow.git
	branch = 12.0
[submodule "account-analytic"]
	path = account-analytic
	url = git@github.com:vauxoo/account-analytic.git
	branch = 12.0
[submodule "partner-contact"]
	path = partner-contact
	url = git@github.com:vauxoo/partner-contact.git
	branch = 12.0
[submodule "project"]
	path = project
	url = git@github.com:vauxoo/project.git
	branch = 12.0
[submodule "hr"]
	path = hr
	url = git@github.com:vauxoo/hr.git
	branch = 12.0
[submodule "web"]
	path = web
	url = git@github.com:vauxoo/web.git
	branch = 12.0
[submodule "stock-logistics-warehouse"]
	path = stock-logistics-warehouse
	url = git@github.com:vauxoo/stock-logistics-warehouse.git
	branch = 12.0
[submodule "server-ux"]
	path = server-ux
	url = git@github.com:vauxoo/server-ux.git
	branch = 12.0
