[submodule "costarica"]
	path = costarica
	url = git@git.vauxoo.com:vauxoo/costarica.git
	branch = 12.0
[submodule "rsf"]
	path = rsf
	url = git@git.vauxoo.com:vauxoo/rsf.git
	branch = 12.0
[submodule "reporting-engine"]
	path = reporting-engine
	url = git@github.com:vauxoo/reporting-engine.git
	branch = 12.0
[submodule "product-attribute"]
	path = product-attribute
	url = git@github.com:vauxoo/product-attribute.git
	branch = 12.0
[submodule "purchase-workflow"]
	path = purchase-workflow
	url = git@github.com:vauxoo/purchase-workflow.git
	branch = 12.0
